.header {
  position: relative;
        top: 0;
      left: 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
overflow: hidden;
    }
    
.header img {
            width:1500px;
    height:250px;
        object-fit:cover;
    }

.avatar {
  position: absolute;
        top: 25%;
      left: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .avatar img {
        width: 250px;
        height: 250px;
        object-fit:cover;
    }
    
 div.polaroid {
  width: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.left {
 float: left;
 padding: 0 20px 20px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img2 {
  float: left;
  padding-right: 10px;
   object-fit:cover;
}